{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <div class="container">
    <h2 class="page-header">Add Recipe</h2>
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt class="control-label">Title:</dt>
        <dd><input type=text size=30 name=title class="form-control"><p></p></dd>
        <dt>Ingredients:</dt>
        <dd><textarea name=ingredients rows=10 cols=40 class="form-control"></textarea><p></p></dd>
        <dt>Steps:</dt>
        <dd><textarea name=steps rows=10 cols=40 class="form-control"></textarea><p></p></dd>
        <dt class="control-label">Tags (space separated):</dt>
        <dd><input type=text size=30 name=tags class="form-control"><p></p></dd>
        <dt class="control-label">URL:</dt>
        <dd><input type=text size=30 name=url class="form-control"><p></p></dd>
        <dd><input type=submit value=Add class="btn btn-primary"></dd>
      </dl>
    </form>
  {% else %}
    <div class="alert alert-danger">You need to login to add a recipe!</div>
  {% endif %}
{% endblock %}